*.claude
CLAUDE.md
PLAN.md
*.snap
/bin
*__debug*
# Test Files
*.json
dev.config 
/cli
snapctl-fake
rag
# Folders
.craft/
bin-fake/
parts/
prime/
samples/
stage/
.vscode/
test-rfp/
# Export artifacts
*-export/
*-export.tar.gz
batch-*.yaml
*.json
batch-*.json
ubuntu-pro-questions.yaml
./cli
test-kb/
test-questions/
test-rfp/
